.blocklyToolboxDiv {
    background-color: white;
    box-shadow: 0 0 5px #47474788;
    border-radius: 0 7px 7px 0;
}

.blocklyFlyoutBackground {
    fill: white;
    fill-opacity: .6;
}

.blocklyTreeRow {
    border-radius: 5px;
}

/* Events Blocks */
.EventsBlocks>.blocklyPath {
    stroke: #608FEEFF;
}

.EventsBlocks>.blocklyPath:hover {
    stroke: #608FEEFF;
}

.EventsBlocks>.blocklyPath[fill] {
    fill: #608FEEFF;
}

.EventsBlocks>.blocklyPath[stroke] {
    stroke: #608FEEFF;
}

.EventsBlocks>.blocklyEditableText>.blocklyDropdownRect[stroke] {
    stroke: #BFD2F8FF;
    fill: #BFD2F8FF
}

/* Controls Blocks */
.ControlsBlocks>.blocklyPath {
    stroke: #68CDFFFF;
}

.ControlsBlocks>.blocklyPath:hover {
    stroke: #68CDFFFF;
}

.ControlsBlocks>.blocklyPath[fill] {
    fill: #68CDFFFF;
}

.ControlsBlocks>.blocklyPath[stroke] {
    stroke: #68CDFFFF;
}

.ControlsBlocks>.blocklyEditableText>.blocklyDropdownRect[stroke] {
    stroke: #C3EBFFFF;
    fill: #C3EBFFFF
}

.ControlsBlocks>.blocklyEditableText>.blocklyFieldRect {
    stroke: #C3EBFFFF;
}

.ControlsBlocks>.blocklyOutlinePath {
    fill: #C3EBFFFF
}

/* Variables Blocks */
.VariablesBlocks>.blocklyPath {
    stroke: #FFA500FF;
}

.VariablesBlocks>.blocklyPath:hover {
    stroke: #FFA500FF;
}

.VariablesBlocks>.blocklyPath[fill] {
    fill: #FFA500FF;
}

.VariablesBlocks>.blocklyPath[stroke] {
    stroke: #FFA500FF;
}

.VariablesBlocks>.blocklyEditableText>.blocklyDropdownRect[stroke] {
    stroke: #FFE4BBFF;
    fill: #FFE4BBFF
}

.VariablesBlocks>.blocklyEditableText>.blocklyFieldRect {
    stroke: #FFE4BBFF;
}

.VariablesBlocks>.blocklyOutlinePath {
    fill: #FFE4BBFF
}

/* Actions Blocks */
.ActionsBlocks>.blocklyPath {
    stroke: #F46767FF;
}

.ActionsBlocks>.blocklyPath:hover {
    stroke: #F46767FF;
}

.ActionsBlocks>.blocklyPath[fill] {
    fill: #F46767FF;
}

.ActionsBlocks>.blocklyPath[stroke] {
    stroke: #F46767FF;
}

.ActionsBlocks>.blocklyEditableText>.blocklyDropdownRect[stroke] {
    stroke: #FBC2C2FF;
    fill: #FBC2C2FF
}

.ActionsBlocks>.blocklyEditableText>.blocklyFieldRect {
    stroke: #FBC2C2FF;
}

.ActionsBlocks>.blocklyOutlinePath {
    fill: #FBC2C2FF
}

/* Looks Blocks */
.LooksBlocks>.blocklyPath {
    stroke: #E76CEAFF;
}

.LooksBlocks>.blocklyPath:hover {
    stroke: #E76CEAFF;
}

.LooksBlocks>.blocklyPath[fill] {
    fill: #E76CEAFF;
}

.LooksBlocks>.blocklyPath[stroke] {
    stroke: #E76CEAFF;
}

.LooksBlocks>.blocklyEditableText>.blocklyDropdownRect[stroke] {
    stroke: #F7D6FFFF;
    fill: #F7D6FFFF
}

.LooksBlocks>.blocklyEditableText>.blocklyFieldRect {
    stroke: #F7D6FFFF;
}

.LooksBlocks>.blocklyOutlinePath {
    fill: #F7D6FFFF
}

.blocklySelected>.blocklyPath:nth-of-type(2) {
    display: none;
    stroke: none !important;
    stroke-width: 0 !important;
}

.blocklyMenuItemHighlight {
    background-color: #47474710;
}

.createVar>.blocklyFlyoutButtonBackground {
    fill: #FFA500FF;
}