body {
    margin: 0;
}

::-webkit-scrollbar {
    width: 0px;
}

#app {
    display: grid;
    grid-template-rows: 60px 1fr;
}

#nav {
    width: 100vw;
    height: 60px;
    background-color: #297EFFFF;
}

#main {
    width: 100vw;
    height: calc(100vh - 60px);
    display: grid;
    grid-template-columns: 35vw 65vw;
}

#previewMain {
    width: 100%;
    height: calc(100vh - 60px);
    box-shadow: inset 0px 0px 5px #47474788;
}

#blockDiv {
    width: 100%;
    height: calc(100vh - 60px);
}

#previewBody {
    width: 100%;
}

#preview {
    user-select: none;
}

#csl {
    position: fixed;
    top: 0;
    left: 0;
    width: 20vw;
    height: fit-content;
    max-height: 500px;
    overflow-y: auto;
    background-color: white;
    box-shadow: 0px 0px 5px #47474788;
    border-radius: 15px;
}