body {
    margin: 0;
}

::-webkit-scrollbar {
    width: 0px;
}

#app {
    display: grid;
    grid-template-rows: 60px 1fr;
}

#nav {
    width: 100vw;
    height: 60px;
    background-color: #297EFFFF;
    display: grid;
    grid-template-columns: 50px 50px 1fr;
}

#main {
    width: 100vw;
    height: calc(100vh - 60px);
    display: grid;
    grid-template-columns: 35vw 65vw;
}

#logo {
    width: 50px;
    height: 50px;
    margin-top: 5px;
    margin-left: 5px;
    user-select: none;
}

#previewMain {
    width: 100%;
    height: calc(100vh - 60px);
    box-shadow: inset 0px 0px 5px #47474788;
}

#blockDiv {
    width: 100%;
    height: calc(100vh - 60px);
}

#previewBody {
    width: 100%;
}

#preview {
    user-select: none;
    overflow: hidden;
    border: none;
    box-shadow: 0 0 5px #47474788;
}

#previewBtn {
    border: none;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
}

::-webkit-scrollbar {
    width: 0px;
}

#csl {
    position: fixed;
    top: 0;
    left: 0;
    width: 20vw;
    height: fit-content;
    max-height: 500px;
    overflow-y: auto;
    background-color: white;
    box-shadow: 0px 0px 5px #47474788;
    border-radius: 15px;
}

#runMask {
    width: 65vw;
    height: calc(100vh - 60px);
    position: fixed;
    left: 35vw;
    background-color: #47474788;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-box-orient: vertical;
    flex-direction: column;
    cursor: pointer;
}

.gears {
    width: 120px;
    height: 120px;
    display: inline-block;
    background-image: url(/running.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.text {
    color: white;
    margin-top: 15px;
    text-align: center;
}

* {
    font-weight: bolder;
}